* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(23, 50, 91, 1.0);
  color: white;
  font-family: Verdana, sans-serif;
}

/* CSS Grid Styling
*******************/
.header {
  grid-area: header;
}
.navLinks {
  grid-area: navLinks;
}
.errorMessages {
  grid-area: errorMessages;
}
.dataTable {
  grid-area: dataTable;
}
.footer {
  grid-area: footer;
}

.grid_container {
  display: grid;
  grid-template-columns: 35% auto 10%;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  max-width: 960px;
  margin: auto;
  grid-template-areas:
    "header         header         header"
    "navLinks       navLinks       navLinks"
    "errorMessages  errorMessages  errorMessages"
    "dataTable      dataTable      dataTable"
    "footer         footer         footer";
}

@media screen and (min-width: 900px) {
  .grid_container {
    display: grid;
    grid-template-columns: 35% auto 10%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-areas:
      "header         navLinks       navLinks"
      "errorMessages  errorMessages  errorMessages"
      "dataTable      dataTable      dataTable"
      "footer         footer         footer";
  }
}


/* Header Styling
*****************/
.header {
  margin: auto;
}

.header h1 {
  font-size: 2.5em;
}


/* Navigation Links Styling
*********************/
.navLinks {
  margin: auto;
}

.navLinks ul {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding-left: 1em;
  font-size: 1.5em;
}


/* Error Messages Styling
*****************/


/* Data Table Styling
*********************/
.dataTable {
  margin: auto;
}

.dataTable td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}


/* Footer Styling
*********************/
.footer{
  margin: auto;
  padding: 20px;
}

.footer h4 {
  font-size: 1em;
}
