<!DOCTYPE html>
<html>
    <head>
        <title>VueJS Tutorial</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Local CSS file for styling the application-->
        <link rel="stylesheet" href="css/style.css">

        <!-- Vue.js 2 development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    </head>
<body>
    <div id="vue_app">
        <div class="grid_container">
            <header class="header">
                <h1>{{ message }}</h1>
            </header>

            <nav class="navLinks">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </nav>

            <div class="errorMessages">
            </div>

            <div class="dataTable">
                <h1>List of Users:</h1>
                <br>
                <table id="usersTable">
                    <!-- Table Header Row -->
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                    <!-- Table Elements (Rows) -->
                    <tr v-for="user in users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    <tr>
                </table>
              </div>

              <footer class="footer">
                <h4>{{ footerMessage }}</h4>
              </footer>
        </div>
    </div>

    <!-- VueJS Code -->
    <script type="text/javascript">
      new Vue({
        el: '#vue_app',
        data: {
          message: 'VueJS Tutorial',
          footerMessage: 'Created by Patrick Kennedy (2019)',
          users: [
            {
              id: 1,
              name: 'User #1',
              username: 'user_1',
              email: 'email1@gmail.com',
            },
            {
              id: 2,
              name: 'User #2',
              username: 'user_2',
              email: 'email2@gmail.com',
            },
            {
              id: 3,
              name: 'User #3',
              username: 'user_3',
              email: 'email3@gmail.com',
            },
          ],
        },
      });
    </script>
</body>
</html>
